{% load i18n %}

{% block subject %}
    {% blocktrans %}Сброс пароля на React {% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% blocktrans %}Вы получили это письмо, потому что вы или кто-то другой запросили сброс пароля для учетной записи
        пользователя на React.{% endblocktrans %}

    {% trans "Пожалуйста, перейдите на следующую страницу и создайте новый пароль:" %}
    {{ protocol }}://localhost:3000/{{ url }}
    {% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}
    <p>{% trans "Если запрос на восстановления пароля поступил не от тебя — не переживай и просто проигнорируй это письмо." %}</p>
    {% trans "Спасибо за использование нашего сайта!" %}

    {% blocktrans %}Команда React{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
    <p>{% blocktrans %}Вы получили это письмо, потому что вы или кто-то другой запросили сброс пароля для учетной записи
        пользователя на React.{% endblocktrans %}</p>

    <p>{% trans "Пожалуйста, перейдите на следующую страницу и создайте новый пароль:" %}</p>
    <a href="{{ protocol }}://localhost:3000/reset_password/{{ uid }}/{{ token }}">{{ protocol }}://localhost:3000/reset_password/{{ uid }}/{{ token }}</a>
    <p>{% trans "Ваше имя пользователя, если вы забыли:" %} <b>{{ user.get_username }}</b></p>
    <p>{% trans "Если запрос на восстановления пароля поступил не от тебя — не переживай и просто проигнорируй это письмо." %}</p>
    <p>{% trans "Спасибо за использование нашего сайта!" %}</p>

    <p>{% blocktrans %}Команда React{% endblocktrans %}</p>
{% endblock html_body %}
